<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>History | Fast Food Fast</title>
    <link rel="stylesheet" type="text/css" media="screen" href="../css/navbar.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../css/main.css" />

</head>
<body>
    <!-- NAVBAR -->
    <div>
        <ul>
            <li class="organization-name"><a href="../../index.html">Fast Food Fast</a></li>
            <li class="right"><a href="login.html">Logout</a></li>
            <li class="right"><a href="#about">About</a></li>
            <li class="right"><a href="#contact">Contact</a></li>
            <li class="right"><a href="manage.html">Manage Orders</a></li>
            <li class="right"><a class="active" href="#history">My History</a></li>
            <li class="right"><a href="order.html">Order</a></li>
            <li class="right"><a href="../../index.html">Home</a></li>
        </ul>
    </div>

    <!-- <div class="row">
        <div class="history">
            <div class="col-25">
                <div class="food-item">
                    <img src="../images/food/fries.jpg" alt="">
                    <span>
                        <p>Date Ordered: 14<sup>th</sup> September, 2018</p>
                    </span>
                </div>
            </div>
        </div>

        <div class="history">
            <div class="col-25">
                <div class="food-item">
                    <img src="../images/food/bg.jpg" alt="">
                    <span>
                        <p>Date Ordered: 16<sup>th</sup> September, 2018</p>
                    </span>
                </div>
            </div>
        </div>
    </div> -->

    <!-- TABLE -->
    <br><br><br><br>
    <div class="table-holder">
        <table>
            <tr>
                <th>
                    Food Ordered
                </th>

                <th>
                    Food description
                </th>
    
                <th>
                    Date Ordered
                </th>
    
                <th>
                    Status
                </th>
            </tr>
            <tr>
                <td>
                    <img class="history-image" src="../images/food/bg.jpg" alt="">
                    <p>
                        Burgher
                    </p>
                </td>

                <td>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Enim debitis, quidem, nemo iure maxime expedita molestiae
                     dolore repudiandae odio quae labore exercitationem eum quasi
                      nam deleniti voluptatum? Quae, eligendi laborum!
                </td>
    
                <td>
                    16<sup>th</sup> September, 2018
                </td>
    
                <td>
                    Accepted
                </td>
            </tr>
            <tr>
                <td>
                    <img class="history-image" src="../images/food/chicken.jpg" alt="">
                    <p>
                        Chicken/ Fries
                    </p>
                </td>
                <td>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Enim debitis, quidem, nemo iure maxime expedita molestiae
                    S
                </td>
        
                <td>
                    18<sup>th</sup> September, 2018 
                </td>
    
                <td>
                    Pending
                </td>
            </tr>
        </table>
    </div>
    <!-- TABLE -->
</body>
</html>