<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fast Food Fast | Login</title>
    <link rel="stylesheet" type="text/css" media="screen" href="../css/main.css" />

</head>
<body class="add-backgroung-image">
    <div>
        <p class="glad-join">Welcome back!</p>
            <form action="/action_page.php">
                <div class="row">
                  <div class="col-25">
                    <label for="fname">Username</label>
                  </div>
                  <div class="col-75">
                    <input type="text" id="fname" name="firstname" placeholder="Username">
                  </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="fname">Password</label>
                    </div>
                    <div class="col-75">
                        <input type="text" id="fname" name="firstname" placeholder="Enter Password">
                    </div>
                </div>
                <br>
                <div class="row">
                  <input type="submit" value="Login">
                </div>
              </form>
    </div>
</body>
</html>