<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Manage | Fast Food Fast</title>
    <link rel="stylesheet" type="text/css" media="screen" href="../css/main.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../css/navbar.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../css/grid.css" />

</head>
<body>
    <!-- NAVBAR -->
    <div>
        <ul>
            <li class="organization-name"><a href="">Fast Food Fast</a></li>
            <li class="right"><a href="login.html">Logout</a></li>
            <li class="right"><a href="#about">About</a></li>
            <li class="right"><a href="#contact">Contact</a></li>
            <li class="right"><a class="active" href="manage.html">Manage Orders</a></li>
            <li class="right"><a href="history.html">My History</a></li>
            <li class="right"><a href="order.html">Order</a></li>
            <li class="right"><a href="#home">Home</a></li>
        </ul>
    </div>

    <div class="row">
        <div class="manage-orders">
            <div class="col-33">
                <p>New Orders</p>
                <div class="new-order">
                    <img src="../images/food/bg.jpg" alt="" width="150" height="150">
                    <br>
                    <span>
                        <button class="cart-button">Accept</button>
                        <button class="order-button">Reject</button>
                    </span>
                </div>
            </div>
            <div class="col-33">
                <p>Accepted Orders</p>
                <p class="no-accepted">
                    No accepted orders currently
                </p>
        
            </div>
        
            <div class="col-33">
                <p>Completed Orders</p>
                <p class="no-accepted">
                    No completed orders currently
                </p>
            </div>           
        </div>

    </div>
</body>
</html>