<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Order food | Fast Food Fast</title>
    <link rel="stylesheet" type="text/css" media="screen" href="../css/order.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../css/grid.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../css/navbar.css" />
</head>
<body>
    <!-- NAVBAR -->
    <div>
        <ul>
            <li class="organization-name"><a href="">Fast Food Fast</a></li>
            <li class="right"><a href="login.html">Logout</a></li>
            <li class="right"><a href="#about">About</a></li>
            <li class="right"><a href="#contact">Contact</a></li>
            <li class="right"><a href="manage.html">Manage Orders</a></li>
            <li class="right"><a href="history.html">My History</a></li>
            <li class="right"><a class="active" href="#order">Order</a></li>
            <li class="right"><a href="#home">Home</a></li>
        </ul>
    </div>

    <div class="row">
        <div class="col-25">
            <div class="food-item">
                <img src="../images/food/bg.jpg" alt="">
                <span>
                    <button class="cart-button">Add to cart</button>
                    <button class="order-button">Order</button>
                </span>
            </div>
        </div>
        <div class="col-25">
            <div class="food-item">
                <img src="../images/food/chicken.jpg" alt="">
                <span>
                    <button class="cart-button">Add to cart</button>
                    <button class="order-button">Order</button>
                </span>
            </div>
        </div>
        <div class="col-25">
            <div class="food-item">
                <img src="../images/food/fries.jpg" alt="">
                <span>
                    <button class="cart-button">Add to cart</button>
                    <button class="order-button">Order</button>
                </span>
            </div>
        </div>
        <div class="col-25">
                <div class="food-item">
                <img src="../images/food/ds.jpg" alt="">
                <span>
                    <button class="cart-button">Add to cart</button>
                    <button class="order-button">Order</button>
                </span>
                </div>
        </div>
    </div>

    <div class="row">
            <div class="col-25">
                <div class="food-item">
                    <img src="../images/food/fry.jpg" alt="">
                    <span>
                        <button class="cart-button">Add to cart</button>
                        <button class="order-button">Order</button>
                    </span>
                </div>
            </div>
            <div class="col-25">
                <div class="food-item">
                    <img src="../images/food/hd.jpg" alt="">
                    <span>
                        <button class="cart-button">Add to cart</button>
                        <button class="order-button">Order</button>
                    </span>
                </div>
            </div>
            <div class="col-25">
                <div class="food-item">
                    <img src="../images/food/op.jpg" alt="">
                    <span>
                        <button class="cart-button">Add to cart</button>
                        <button class="order-button">Order</button>
                    </span>
                </div>
            </div>
            <div class="col-25">
                    <div class="food-item">
                    <img src="../images/food/sp.jpg" alt="">
                    <span>
                        <button class="cart-button">Add to cart</button>
                        <button class="order-button">Order</button>
                    </span>
                    </div>
            </div>
        </div>
</body>
</html>